html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*fonts*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*.htaccess file:
  AddType text/x-component .htc*/ }

@font-face {
  font-family: "RobotoRegular";
  src: url('../fonts/RobotoRegular/RobotoRegular.eot?1411918800');
  src: url('../fonts/RobotoRegular/RobotoRegular.eot?&1411918800#iefix') format('embedded-opentype'), url('../fonts/RobotoRegular/RobotoRegular.woff?1411918474') format('woff'), url('../fonts/RobotoRegular/RobotoRegular.ttf?1411918644') format('truetype'); }
@font-face {
  font-family: "RobotoLight";
  src: url('../fonts/RobotoLight/RobotoLight.eot?1411918774');
  src: url('../fonts/RobotoLight/RobotoLight.eot?&1411918774#iefix') format('embedded-opentype'), url('../fonts/RobotoLight/RobotoLight.woff?1411918454') format('woff'), url('../fonts/RobotoLight/RobotoLight.ttf?1411918618') format('truetype'); }
@font-face {
  font-family: "Resphekt";
  src: url('../fonts/Resphekt/Resphekt.ttf?1396606772') format('truetype'); }
html,
body {
  height: 100%;
  margin-top: 0;
  color: #485659;
  font: 1.1em/1.3em RobotoRegular, Arial, sans-serif; }
  html h1,
  body h1 {
    font-size: 2.5em; }
  html h2,
  body h2 {
    font-size: 2em; }
  html h3,
  body h3 {
    font-size: 1.5em; }

img {
  max-width: 100%;
  height: auto; }

header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }

.header_bg {
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  height: 80%;
  color: #f5f5f5;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/banner.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }
  .header_bg .header-bl-bottom {
    position: absolute;
    left: 0;
    top: 40%;
    text-align: center; }
    .header_bg .header-bl-bottom p {
      font-family: RobotoLight;
      font-size: 2em;
      font-weight: 100;
      color: white; }
    .header_bg .header-bl-bottom h3 {
      padding-bottom: 20px;
      font-family: RobotoLight; }
    .header_bg .header-bl-bottom ul li {
      display: inline-block; }
  .header_bg h1 {
    font-size: 2em;
    margin-bottom: 30px;
    margin-top: 20px;
    line-height: 1.1; }
  .header_bg p {
    margin-bottom: 30px; }
  .header_bg a {
    text-decoration: none; }

.button_header {
  color: #ffffff;
  background-color: #158cba;
  border-radius: 4px;
  border-color: #127ba3;
  padding: 9px 12px 7px;
  text-transform: uppercase;
  font-size: 0.8em;
  z-index: 4000;
  box-shadow: grey 1px 1px 3px; }

i:after {
  content: "\00A0"; }

.header_bg::before {
  content: '';
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  margin: 15% 0;
  background: rgba(255, 255, 255, 0.3); }

.row {
  outline: 5px solid transparent; }

.container {
  width: 100%;
  margin: 0 auto; }
  .container .cols {
    float: left;
    margin: 0 0 1em;
    padding: 0 1em;
    background: transparent;
    text-align: center; }
    .container .cols.col-12 {
      width: 100%;
      outline: 5px solid transparent; }
    .container .cols.col-11 {
      width: 91.66666667%; }
    .container .cols.col-10 {
      width: 83.33333333%; }
    .container .cols.col-9 {
      width: 75%; }
    .container .cols.col-8 {
      width: 66.66666667%; }
    .container .cols.col-7 {
      width: 58.33333333%; }
    .container .cols.col-6 {
      width: 50%; }
    .container .cols.col-5 {
      width: 41.66666667%; }
    .container .cols.col-4 {
      width: 33.33333333%; }
    .container .cols.col-3 {
      width: 25%; }
    .container .cols.col-2 {
      width: 16.66666667%; }
    .container .cols.col-1 {
      width: 8.33333333%; }

.container:before,
.container:after,
.row:after,
.row:before,
.clear:before,
.clear:after {
  content: " ";
  display: table; }

.container:before,
.container:after,
.row:after,
.row:before,
.clear:before,
.clear:after {
  clear: both; }

.navbar ul li {
  display: inline-block; }

nav {
  min-height: 50px;
  outline: 3px solid transparent;
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
  margin: auto;
  padding: 6px 5px;
  border: 2px solid;
  border-width: 0 1px 4px 1px;
  border-color: #e7e7e7;
  background-color: white;
  -webkit-transition: background-color 2s ease 0s;
  transition: background-color 2s ease 0s; }
  nav ul {
    margin: 10px;
    padding: 0;
    list-style-type: none;
    z-index: 12;
    width: 100%; }
  nav a {
    width: 100%;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 100;
    font-family: RobotoLight;
    text-transform: uppercase;
    /* Cross-browser CSS3 transition */
    -webkit-transition: color 0.5s ease-in;
    transition: color 0.5s ease-in; }
    nav a:hover {
      /* Compass color mixin: shade() */
      color: #223a4e; }
  nav .nav-left {
    float: left; }
  nav .nav-right {
    float: right; }
  nav .nav_button i {
    color: #93a4a7; }

.button_hidden {
  border-style: none !important;
  background-color: white;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  float: right;
  margin-bottom: 8px;
  margin-right: 15px;
  margin-top: 8px;
  padding: 9px 10px;
  position: relative; }

.button_hidden i {
  font-size: 1.5em;
  color: #93a4a7;
  z-index: 50;
  font-weight: bold; }

.navbar.navbar-transparent {
  background-color: transparent !important;
  border-color: transparent; }
  .navbar.navbar-transparent a, .navbar.navbar-transparent i {
    color: white; }

.navbar a:hover,
.header_bg a:hover {
  color: #93a4a7; }

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px; }

.content {
  margin-top: 50px;
  padding: 20px; }

footer {
  background-color: #cbd3d5;
  margin: 25px 0 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }

footer ul {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin: 0 10%; }
  footer ul li {
    display: inline-block; }

footer li a, footer i {
  color: #fff;
  font-size: 1.2em;
  line-height: 2.4em;
  padding-right: 1em;
  padding-left: 1em; }

.fullscreen a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

#signupForm {
  display: none; }

#signupForm:target {
  display: block; }

.content img {
  border-radius: 0.4em;
  box-shadow: grey 2px 2px 10px; }

.form-wrapper {
  height: 36px; }

#search-site input,
#search-site button {
  padding: 6px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  font-size: 0.8em;
  box-shadow: grey 1px 1px 3px; }

@media screen and (max-width: 768px) {
  .container .cols.col-12, .container .cols.col-10, .container .cols.col-9, .container .cols.col-8, .container .cols.col-7, .container .cols.col-6, .container .cols.col-4, .container .cols.col-3, .container .cols.col-1 {
    width: 100%; } }
@media screen and (min-width: 992px) {
  .button_hidden {
    display: none; } }
@media only screen and (max-width: 992px) {
  .navbar ul {
    display: none;
    width: 100%; }

  .navbar .nav-left ul li {
    display: block; }

  .header_bg {
    height: 50%; }

  .header_bg::before {
    display: none; } }
@media only screen and (min-width: 992px) {
  .navbar ul {
    display: block !important; } }
