@import "compass/reset";
@import "compass/css3";
// @import "compass";
@import "compass/utilities/general/hacks";
// @import "compass/css3/images";
// @import "compass/css3/font-face";
$black: #000000;
$color_container: #fff6e4;
$color_cols: transparent;
// $color_cols: #fff6e4;
// $color_cols: #fff6e4;
$color_outline: transparent;
$color_hover_link: #93a4a7;
$color_bg_footer: #93a4a7;
$color_nav_link: #2B4862;
$base-font-size: 100%;

/*fonts*/

$font_0: Arial;
$font_1: Helvetica;
$font_2: sans-serif;
$font_3: RobotoRegular;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*.htaccess file:
    AddType text/x-component .htc*/
}
@include font-face("RobotoRegular", font-files( "RobotoRegular/RobotoRegular.woff", "RobotoRegular/RobotoRegular.ttf"), "RobotoRegular/RobotoRegular.eot"/* относительный путь к .eot файлу для IE */
    );
html,
body {
    height: 100%;
    margin-top: 0;
    // font-size: $base-font-size;
    color: darken($color_hover_link, 30%);
    // font-family: $font_0;
    // font-weight: 150;
    // line-height: 150em;
    font: 1.1em/1.3em $font_3, $font_0, $font_2;
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }
}

img {
    max-width: 100%;
    height: auto;
}

header {
    // margin-top: -20px;
}

.fluid-bg {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)), // url(http://lorempixel.com/1080/610/nature);
    url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    // background-position: 50% bottom;
    // background-position: center top;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    color: #f5f5f5;
    padding: 10em 0;
    margin-bottom: 0;
    height: 100%;
    // height: 60%;
    .container {
        bottom: 2em;
        display: block;
        // left: 15px; сдвиг error
        position: absolute;
    }
    h1 {
        font-size: 2em;
        // margin: 0.67em 0;
        margin-bottom: 30px;
        margin-top: 20px;
        // padding-left: 25px !important;
        // margin-left: 10px;
        font-weight: 400;
        line-height: 1.1;
    }
    p {
        margin-bottom: 30px;
    }
    a {
        text-decoration: none;
    }
    // outline: 5px solid green;
}

.button_header {
    color: #ffffff;
    background-color: #158cba;
    border-radius: 4px;
    border-color: #127ba3;
    padding: 9px 12px 7px;
    // padding: 15px 12px 7px;
    text-transform: uppercase;
    font-size: 0.8em;
    z-index: 4000;
    @include box-shadow(grey 1px 1px 3px);
    // @include box-shadow(grey 2px 2px 10px);
}

// body {
//     font: 100%/1.5em $font_0, $font_1, $font_2;
//     color: $black;
//     margin-top: 0;
// }
.row {
    outline: 5px solid $color_outline;
}

.container {
    width: 100%;
    margin: 0 auto;
    // margin-top: 20px;
    // background: $color_container;
    .cols {
        float: left;
        margin: 0 0 1em;
        padding: 0 1em;
        background: $color_cols;
        text-align: center;
        &.col-12 {
            width: 100%;
            outline: 5px solid $color_outline;
        }
        &.col-11 {
            width: 91.66666667%;
        }
        &.col-10 {
            width: 83.33333333%;
        }
        &.col-9 {
            width: 75%;
        }
        &.col-8 {
            width: 66.66666667%;
        }
        &.col-7 {
            width: 58.33333333%;
        }
        &.col-6 {
            width: 50%;
        }
        &.col-5 {
            width: 41.66666667%;
        }
        &.col-4 {
            width: 33.33333333%;
        }
        &.col-3 {
            width: 25%;
        }
        &.col-2 {
            width: 16.66666667%;
        }
        &.col-1 {
            width: 8.33333333%;
        }
    }
}

.container:before,
.container:after,
.row:after,
.row:before,
.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.container:before,
.container:after,
.row:after,
.row:before,
.clear:before,
.clear:after {
    clear: both;
}

.navbar ul li {
    display: inline-block;
}

nav {
    min-height: 50px;
    outline: 3px solid $color_outline;
    opacity: 1;
    transition: opacity .5s;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10;
    margin: auto;
    padding: 6px 5px;
    border: 2px solid;
    border-width: 0 1px 4px 1px;
    border-color: #e7e7e7;
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 2s ease 0s;
    ul {
        margin: 10px;
        padding: 0;
        list-style-type: none;
        z-index: 12;
        width: 100%;
    }
    a {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 100%;
        padding: 10px;
        color: $color_nav_link;
        text-decoration: none;
        font-size: 1.2em;
        // @include text-shadow(0 1px 1px rgba(#000, 0.3));
        /* Cross-browser CSS3 transition */
        @include single-transition(color,
        0.5s,
        ease-in);
        &:hover {
            /* Compass color mixin: shade() */
            color: shade($color_nav_link, 20%);
        }
    }
    .nav-left {
        float: left;
    }
    .nav-right {
        float: right;
    }
    .nav_button i {
        color: #93a4a7;
    }
}

.button_hidden {
    border-style: none !important;
    background-color: white;
    // padding-top: 4px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 8px;
    padding: 9px 10px;
    position: relative;
}

.button_hidden i {
    font-size: 1.5em;
    color: #93a4a7;
    z-index: 50;
    font-weight: bold;
}

.navbar.navbar-transparent {
    // background-color: rgba(255, 255, 255, 0);
    background-color: transparent !important;
    border-color: transparent;
    // transition: background-color 2s ease 0s;
}

.navbar a:hover,
.fluid-bg a:hover {
    color: $color_hover_link;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.content {
    margin-top: 50px;
    padding: 20px;
}

footer ul {
    // background-color: $color_bg_footer;
    list-style-type: none;
    // display: inline-block;
    text-align: center;
}

@media print {}

@media screen and (max-width: 768px) {
    .container .cols {
        &.col-12,
        &.col-10,
        &.col-9,
        &.col-8,
        &.col-7,
        &.col-6,
        &.col-4,
        &.col-3,
        &.col-1 {
            width: 100%;
        }
    }
}

@media screen and (min-width: 320px) {}

@media screen and (min-width: 992px) {
    .button_hidden {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .navbar ul {
        display: none;
        width: 100%;
    }
    .navbar .nav-left ul li {
        display: block;
    }
    // // .nav-right {
    //     float: left !important;
    // }
    .fluid-bg {
        // background: url('../img/small.jpeg') no-repeat center center;
    }
}

// @media only screen and (min-width: 992px) {
// .navbar ul {
//     display: block !important;
// }
// }
@media only screen and (min-width: 992px) {
    .navbar ul {
        display: block !important;
    }
}

.fullscreen a {
    display: flex;
}

#signupForm {
    display: none;
}

#signupForm:target {
    display: block;
}

footer {
    @include background-image(linear-gradient(white, #93a4a7));
    // @include filter-gradient(#aaaaaa,
    // #eeeeee);
    // /* Fallback: */
    // background: #cccccc;
    // /* CSS3 c префиксами вендоров */
    // @include background(linear-gradient(top, #aaaaaa, #eeeeee));
}
.content img {
    border-radius: 0.4em;
     @include box-shadow(grey 2px 2px 10px);
}
.form-wrapper {
    height: 36px;
}
#search-site input, #search-site button{
    padding: 6px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    font-size: 0.8em;
    @include box-shadow(grey 1px 1px 3px);

}
// #search-site {
//         @extend #search-site;
//         }